[Unit]
Description=Smart Plug Daemon

[Service]
WorkingDirectory=/opt/smart-plug-daemon.d/
ExecStart=/home/biggs/.nix-profile/bin/nix-shell --pure --run 'python smart-plug-daemon.py'

[Install]
WantedBy=multi-user.target
