# shellcheck shell=bash

# Dependencies
source_url 'https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc' 'sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4='

# nix
nix_wrapper_path="$(dirname "$(which nix)")"
nix_direnv_manual_reload
use flake
watch_file "$PWD/flake-modules/dev-shell.nix"
# I want to use my nix wrapper so I need to prepend it to the PATH after the
# flake bin is added. I first try to remove it from the PATH so there are not
# duplicates.
PATH_rm "$nix_wrapper_path"
PATH_add "$nix_wrapper_path"

layout go

# secrets
yellow='\e[33m'
reset='\e[m'
function get_secret {
  path="./secrets/$1"

  if [ -f "$path" ]; then
    cat "$path"
  else
    echo -e "[${yellow}warning${reset}] secret '$path' was not found" 1>&2
    return 1
  fi
}
if github="$(get_secret 'github.txt')"; then
  export NIX_CONFIG="access-tokens = github.com=$github"
fi
if bws="$(get_secret 'bws.txt')"; then
  export BWS_ACCESS_TOKEN="$bws"
fi
IFS= readarray -d '' secret_files < <(find "$PWD/secrets" -type f \! -name .DS_Store -print0)
for secret_file in "${secret_files[@]}"; do
  watch_file "$secret_file"
done
