# shellcheck shell=bash

yellow='\e[33m'
reset='\e[m'
secrets_directory='./secrets'
github_file="$secrets_directory/github.txt"
if [ -f "$github_file" ]; then
  NIX_CONFIG="access-tokens = github.com=$(cat "$github_file")"
  export NIX_CONFIG
else
  echo -e "[${yellow}warning${reset}] secret '$github_file' was not found"
fi
