# shellcheck shell=bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  source_url \
    "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" \
    "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
fi

nix_direnv_manual_reload
use flake

# I want to use my nix wrapper so I need to prepend my bin after the flake bin is added.
PATH_add ~/.local/bin

yellow='\e[33m'
reset='\e[m'
function get_secret {
  path="./secrets/$1"

  if [ -f "$path" ]; then
    cat "$path"
  else
    echo -e "[${yellow}warning${reset}] secret '$path' was not found" 1>&2
  fi
}

NIX_CONFIG="access-tokens = github.com=$(get_secret 'github.txt')"
export NIX_CONFIG
BWS_ACCESS_TOKEN="$(get_secret 'bws.txt')"
export BWS_ACCESS_TOKEN
