[Unit]
Description=Smart Plug Daemon

[Service]
ExecStart=/home/biggs/.nix-profile/bin/nix run /home/biggs/.dotfiles/smart-plug

[Install]
WantedBy=multi-user.target
