# shellcheck shell=bash

source_up
use flake '../../#smartPlug'

# So debugpy can find the right python to use. The 2 dirnames remove '/bin/python' so we end up with
# the python installation folder.
VIRTUAL_ENV="$(dirname "$( dirname "$(realpath --canonicalize-existing "$(which python)")" )")"
export VIRTUAL_ENV
