# shellcheck shell=bash

source_up

platform="$(uname -m)-$(uname -s | tr '[:upper:]' '[:lower:]')"
release_artifact_url="https://github.com/bigolu/dotfiles/releases/download/master/firstaide-master-$platform"
if uname | grep -q Linux; then
  hash='sha256-4vQQscdoRI9XbCF5fAMhTgSPPuXFu5NEw5feoyjq8MU='
else
  hash='sha256-67wqDatM7CAusOiJhX2oMiJXOfVseXtN6JDtHWYZgnU='
fi
firstaide_path="$(fetchurl "$release_artifact_url" "$hash")"

# The first time you enter the project, firstaide won't be on the PATH so print its location
log_status "firstaide path: $firstaide_path"

eval "$("$firstaide_path" hook)"
